* {
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}

html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 300;
}